/* Base styles */
body {
  background-color: black;
  color: white;
  font-family: 'Nanum Gothic Coding', monospace;
  text-align: center;
  margin: 0 auto;
  font-size: 14px; /* Smaller base font size for overall text */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

h1, h2, h3, h4, p, li, td, th, caption, a {
  font-size: 1em; /* Normalizing font size for simplicity */
}

h1 {
  font-size: 1.5em; /* Larger for headers */
}

h2, h3, h4 {
  font-size: 1.2em; /* Slightly larger than body text */
}

p, li, td, th, caption {
  font-size: 0.9em; /* Slightly smaller for detailed text components */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Center images */
}

a {
  color: lime;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 90%; /* Adjusted for better table presentation */
  border-collapse: collapse; /* Ensures borders between cells are merged */
}

/* Grid layout configurations for different devices */
.grid-container {
  display: grid;
  gap: 20px; /* Spacing between grid items */
  padding: 20px;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

/* Desktop layout */
@media (min-width: 1281px) {
  .grid-container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
          "header header header"
          "menu introduction study"
          "menu project_team project_team";
  }
}

/* Tablet layout */
@media (min-width: 721px) and (max-width: 1280px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
          "header header"
          "menu menu"
          "introduction introduction"
          "study project_team";
  }
}

/* Mobile layout */
@media (max-width: 720px) {
  .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
          "header"
          "menu"
          "introduction"
          "study"
          "project_team";
  }
}

/* Styling for the navigation to appear cleaner */
nav ul, nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}
