@media screen and (min-width : 960px) {
  /*desktop*/
  .grid-container {
    display : grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "header header header"
    "menu menu menu"
    "introduction study project_team"
    ;
  }

  #header{
    grid-area: header;
  }

  #menu{
    grid-area: menu;
  }

  #introduction{
    grid-area: introduction;
  }

  #study{
    grid-area: study;
  }

  #project_team{
    grid-area: project_team;
  }
  
  body {
      background-color: lightgoldenrodyellow;
  }
}

@media screen and (min-width : 641px) and (max-width : 959px) {
  /*tablet*/
  .grid-container {
    display : grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "header header"
    "menu menu"
    "introduction introduction"
    "study project_team"
    ;
  }

  #header{
    grid-area: header;
  }

  #menu{
    grid-area: menu;
  }

  #introduction{
    grid-area: introduction;
  }

  #study{
    grid-area: study;
  }

  #project_team{
    grid-area: project_team;
  }

  body {
      background-color: lightcyan;
  }
  
}

@media screen and (max-width : 640px) {
  /*phone*/
  .grid-container {
    display : grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    "header"
    "menu"
    "introduction"
    "study"
    "project_team"
    ;
  }

  #header{
    grid-area: header;
  }

  #menu{
    grid-area: menu;
  }

  #introduction{
    grid-area: introduction;
  }

  #study{
    grid-area: study;
  }

  #project_team{
    grid-area: project_team;
  }
  body {
      background-color: lightgray;
  }
}